.nav-text.text-muted {
  color: white !important;
}

h3 {
  margin-top: 30px;
}

.active>.nav-link {
  color: white !important;
}

th>.eg {
  font-size: smaller;
  font-style: italic;
  font-weight: lighter;
}

.template-article #main>div {
  margin-bottom: 40px; 
}

.template-article .section.level3 {
  margin-top: 50px; 
}


/* Restore two-column layout for reference index on large screens */
@media (min-width: 768px) {
  .section dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 2rem;
    row-gap: 0.5rem;
  }

  .section dt {
    grid-column: 1;
    font-weight: bold;
  }

  .section dd {
    grid-column: 2;
    margin-left: 0; /* Remove default browser margin for dd */
  }
}


